<!DOCTYPE html>
<html lang="it">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Retwis - Example Twitter clone based on the Redis Key-Value DB</title>
	<link href="/public/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="page">
<!--引入头文件-->
<{include file='public/header.html'}>


<h2>热点</h2>
<i>最新注册用户 (redis中的 sorted sets 用法)</i><br>
<div>
<{foreach $users as $k=>$v}>
<a class='username' href='profile?u=<{$v}>' ><{$v}></a>
<{/foreach}>
</div>
<br/><br/>

<i>最新发布的50条微博!</i><br>
<{foreach $top50 as $k=>$v}>
<div class='post'>
	<a class='username' href='profile?u=<{$v['username']}>' ><{$v['username']}></a> <{$v['content']}><br/>
	<i><{$v['time']|date_format:'%M'}>分钟前通过web发布</i>
</div>
<{/foreach}>
<!--引入底部文件-->
<{include file='public/footer.html'}>
</div>
</body>
</html>